@import "../../function/util";

//todo var
// 记号线
@mixin pen-underline-base (
  $color: $rsg-blue,
  $left-offset: 0,
  $right-offset: 0,
  $bottom: 2) {
  content: '';
  position: absolute;
  left: getRandom($left-offset - 4, $left-offset + 4) * 1px;
  right: getRandom($right-offset - 4, $right-offset + 4) * 1px;
  bottom: $bottom * 1px;
  height: 0;
  box-sizing: content-box;
  border-top: solid 2px rgba($color, 0.9);
  border-bottom: solid 1px rgba($color, 0.9);
  border-radius: 90% 20% 80% 10%;
  box-shadow: 0 0 2px rgba(lighten($color, 20%), 0.4);
  transform: rotate(getRandom(-2, 1) * 1deg);
}


@mixin pen-underline($color: $rsg-blue) {
  position: relative;
  display: inline-block;

  &::before {
    @include pen-underline-base($color);
  }

  &.double::after {
    @include pen-underline-base($color, 6, 2, -2);
    border-top: solid 1px rgba($color, 0.9);
    bottom: getRandom(-4, 0) * 1px;
  }
}