@function getRandom ($min: 0, $max: 1) {
  @return random() * ($max - $min) + $min;
}

@mixin nite-writer-pen($base-color: $rsg-blue) {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    top: 2px + getRandom(-1, 1) * 1px;
    left: -5px + getRandom(-3, 3) * 1px;
    bottom: 2px + getRandom(-1, 1) * 1px;
    right: -5px + getRandom(-3, 3) * 1px;
    background-image: linear-gradient(
                    90deg,
                    rgba(darken($base-color, 16%), 0.6) 8%,
                    rgba(darken($base-color, 14%), 0.5) 13%,
                    rgba($base-color, 0.4) 70%,
                    rgba($base-color, 0.4) 85%,
                    rgba(darken($base-color, 10%), 0.6) 100%
    );
    mix-blend-mode: darken;
    transform: rotate(getRandom(-3, 3) * 1deg);
  }

  &:nth-child(2n) {
    background-color: red;
  }
}

@mixin pen-underline-base (
  $color: $rsg-blue,
  $left-offset: 0,
  $right-offset: 0,
  $bottom: 2) {
  content: '';
  position: absolute;
  left: getRandom($left-offset - 4, $left-offset + 4) * 1px;
  right: getRandom($right-offset - 4, $right-offset + 4) * 1px;
  bottom: $bottom * 1px;
  height: 0;
  box-sizing: content-box;
  border-top: solid 2px rgba($color, 0.9);
  border-bottom: solid 1px rgba($color, 0.9);
  border-radius: 90% 20% 80% 10%;
  box-shadow: 0 0 2px rgba(lighten($color, 20%), 0.4);
  transform: rotate(getRandom(-2, 1) * 1deg);
}

@mixin pen-underline($color: $rsg-blue) {
  & {
    position: relative;
    display: inline-block;
  }

  &::before {
    @include pen-underline-base($color);
  }

  &.double::after {
    @include pen-underline-base($color, 6, 2, -2);
    border-top: solid 1px rgba($color, 0.9);
    bottom: getRandom(-4, 0) * 1px;
  }
}

