@function pow ($x, $y) {
  $value: 1;

  @if ($y > 0) {
    @for $i from 1 through $y {
      $value: $value * $x;
    }
  }

  @else if ($y < 0) {
    @for $i from 1 through $y {
      $value: $value / $x;
    }
  }

  @else {
    $value: 1;
  }

  @return $value;
}

@function getRandom ($min: 0, $max: 1, $float: 6) {
  $random: random() * ($max - $min) + $min;
  $float_pow: pow(10, $float);
  @return round($random * $float_pow) / $float_pow;
}

// 荧光笔
@mixin nite-writer-pen($base-color: #8FE7FF) {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    top: 2px + getRandom(-1, 1) * 1px;
    left: -5px + getRandom(-3, 3) * 1px;
    bottom: 2px + getRandom(-1, 1) * 1px;
    right: -5px + getRandom(-3, 3) * 1px;
    background-image: linear-gradient(
                    90deg,
                    rgba(darken($base-color, 16%), 0.6) 8%,
                    rgba(darken($base-color, 14%), 0.5) 13%,
                    rgba($base-color, 0.4) 70%,
                    rgba($base-color, 0.4) 85%,
                    rgba(darken($base-color, 10%), 0.6) 100%
    );
    mix-blend-mode: darken;
    transform: rotate(getRandom(-3, 3) * 1deg);
  }

  &:nth-child(2n) {
    background-color: red;
  }
}


@mixin pen-underline-base (
  $color: $rsg-blue,
  $left-offset: 0,
  $right-offset: 0,
  $bottom: 2) {
  content: '';
  position: absolute;
  left: getRandom($left-offset - 4, $left-offset + 4) * 1px;
  right: getRandom($right-offset - 4, $right-offset + 4) * 1px;
  bottom: $bottom * 1px;
  height: 0;
  box-sizing: content-box;
  border-top: solid 2px rgba($color, 0.9);
  border-bottom: solid 1px rgba($color, 0.9);
  border-radius: 90% 20% 80% 10%;
  box-shadow: 0 0 2px rgba(lighten($color, 20%), 0.4);
  transform: rotate(getRandom(-2, 1) * 1deg);
}

// 记号线
@mixin pen-underline($color: $rsg-blue) {
  position: relative;
  display: inline-block;

  &::before {
    @include pen-underline-base($color);
  }

  &.double::after {
    @include pen-underline-base($color, 6, 2, -2);
    border-top: solid 1px rgba($color, 0.9);
    bottom: getRandom(-4, 0) * 1px;
  }
}

// 胶带
@mixin tape-for-img ($url) {
  $height: 30px;
  $offset: 5px;

  display: inline-block;
  position: relative;
  min-height: $height;
  min-width: 100px;
  filter: drop-shadow(1px 0 1px rgba(150, 150, 150, 0.5)) drop-shadow(-1px 0 1px rgba(150, 150, 150, 0.5));
  line-height: $height;
  text-align: center;
  font-size: 24px;

  &::before {
    $size: 14px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fcfcfc;
    background-image: url('#{$url}'), url('#{$url}');
    background-size: $size $size * 2, $size $size * 2;
    background-position: 0 0, $size / 2 $size;
    clip-path: polygon(
                    0 0,
                    100% 0,
                    calc(100% - #{$offset}) $offset,
                    100% $offset * 2,
                    calc(100% - #{$offset}) $offset * 3,
                    100% $offset * 4,
                    calc(100% - #{$offset}) $offset * 5,
                    100% $offset * 6,
                    0 $offset * 6,
                    $offset $offset * 5,
                    0 $offset * 4,
                    $offset $offset * 3,
                    0 $offset * 2,
                    $offset $offset * 1,
                    0 0
    );
  }

  * {
    position: relative;
    z-index: 2;
    font-family: 'diary', sans-serif;
  }
}

// 胶带
@mixin tape-for-background ($background-color: white, $background-image: none, $background-size: 10px 10px) {
  $height: 30px;
  $offset: 5px;

  display: inline-block;
  position: relative;
  padding: 0 20px;
  min-height: $rsg-line-height;
  min-width: 100px;
  filter: drop-shadow(1px 0 0 rgba(200, 200, 200, 0.5)) drop-shadow(-1px 0 0 rgba(200, 200, 200, 0.5));
  line-height: $rsg-line-height;
  text-align: center;
  font-size: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $height;
    background-color: $background-color;
    background-image: $background-image;
    background-size: $background-size;
    clip-path: polygon(
                    0 0,
                    100% 0,
                    calc(100% - #{$offset}) $offset,
                    100% $offset * 2,
                    calc(100% - #{$offset}) $offset * 3,
                    100% $offset * 4,
                    calc(100% - #{$offset}) $offset * 5,
                    100% $offset * 6,
                    0 $offset * 6,
                    $offset $offset * 5,
                    0 $offset * 4,
                    $offset $offset * 3,
                    0 $offset * 2,
                    $offset $offset * 1,
                    0 0
    );
  }

  * {
    position: relative;
    z-index: 2;
    font-family: 'diary', sans-serif;
    line-height: $rsg-line-height;
  }
}